[Desktop Entry]
Name=GivorPartners Merkez
Exec=givorpartners-merkez
Icon=givorpartners-merkez
Type=Application
Categories=Office;Finance;
Comment=GivorPartners Bayi Yönetim Sistemi
