[Desktop Entry]
Name=GivorPartners Kasa
Exec=givorpartners-kasa
Icon=givorpartners-kasa
Type=Application
Categories=Office;Finance;
Comment=GivorPartners Bayi Yönetim Sistemi
